<div>
    <h2 data-translate="escribanosApp.archivos.home.title">Archivos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="archivos.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="escribanosApp.archivos.home.createLabel">
                        Create new Archivos
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="escribanosApp.archivos.archivo">Archivo</span></th>
                    <th><span data-translate="escribanosApp.archivos.tramite">Tramite</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="archivos in vm.archivos track by archivos.id">
                    <td><a ui-sref="archivos-detail({id:archivos.id})">{{archivos.id}}</a></td>
                    <td>
                        <a ng-if="archivos.archivo" ng-click="vm.openFile(archivos.archivoContentType, archivos.archivo)" data-translate="entity.action.open">open</a>
                        <span ng-if="archivos.archivo">{{archivos.archivoContentType}}, {{vm.byteSize(archivos.archivo)}}</span>
                    </td>
                    <td>
                        <a ui-sref="tramite-detail({id:archivos.tramite.id})">{{archivos.tramite.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="archivos-detail({id:archivos.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="archivos.edit({id:archivos.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="archivos.delete({id:archivos.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
